body {
  background: white;
  min-height: 100%;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading {
  position: fixed;
  top: 40%;
  left: 50%;
}

.bg-orange {
  background: rgb(248, 133, 103);
}

.bg-gold {
  background: rgb(251, 181, 100);
}

.bg-purple {
  background: rgb(152, 116, 177);
}

.bg-aqua {
  background: rgb(45, 182, 172);
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  &.flex-column {
    flex-direction: column;
  }
}

.companies-container {
  width: 100%;
  color: white;
  
  .company-container {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: relative;

    .company-name {
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translateX(-50%);
      transform-origin: 50% 50%;
      font-size: 90px;
      transition: all 500ms, color 250ms;
      margin: 0;
      white-space: nowrap;
      border-bottom: 8px solid white;
    }

    .company-ticker {
      position: absolute;
      font-size: 48px;
      top: 70%;
      right: 60%;
      margin: 0;
      transition: all 500ms;
    }

    .stock-info-slides {
      opacity: 0;
      animation: fadeIn 500ms ease-in-out 500ms forwards;
      position: relative;
      height: 100%;
      top: 90px;
      padding: 2em;

      @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
      }

      .stock-info-slide {
        .box {
          padding: 25px;
          font-size: 18px;
          border-radius: 5px;
          margin: 0.5em 0;
          color: white;

          h1 {
            font-size: 56px;
            margin: 0;
          }

          h2 {
            font-size: 40px;
            margin: 0;
          }

          h3 {
            font-size: 18px;
            margin: 0;
          }
        }
      }
    }

    .company-logo {
      height: 110px;
      width: auto;
      background: white;
      padding: 10px 15px;
      border-radius: 15px;
      position: absolute;
      left: 50%;
      top: 25%;
      transform: translate3d(-50%, -50%, 0);

      &.logo-square {
        width: 280px;
        height: auto;
      }
    }

    .clock {
      font-size: 44px;
      font-family: sans-serif;
      padding: 0.15em 0.2em;
      border: 5px solid;
      border-radius: 5px;
      display: inline-block;
      font-weight: bold;
      position: absolute;
      top: 10px;
      right: 20%;
      opacity: 0;

      &.clock-red {
        border-color: #DC143C;
        background: rgba(#DC143C, 0.1);
      }

      &.clock-green {
        border-color: #32CD32;
        background: rgba(#32CD32, 0.2);
      }
    }

    * {
      transition: all 500ms;
    }

    &.expanded {
      color: black;

      * {
        transition: all 500ms;
      }

      .company-name {
        border-bottom: 6px solid #0066ff;
        top: 10px;
        left: 10px;
        font-size: 48px;
        transform: translateX(0%);
      }

      .company-ticker {
        background: rgba(black, 0.8);
        border-radius: 8px;
        padding: 0.2em 0.35em;
        display: inline-block;
        color: white;
        right: 10px;
        top: 10px;
        font-size: 26px;
      }
      
      .company-logo {
        top: 5px;
        height: 65px;
        transform: translate3d(-50%, 0, 0);
      }
    }
  }
}